source https://api.nuget.org/v3/index.json

nuget Giraffe 6.0.0
nuget ModelContextProtocol.AspNetCore 1.1.0

nuget NUnit 3.13.3
nuget NUnit3TestAdapter 4.3.1
nuget Microsoft.NET.Test.Sdk 17.9.0
nuget Microsoft.AspNetCore.SignalR.Client 7.0.0

# Pin RecyclableMemoryStream to 2.x for Giraffe 6.0.0 compatibility
nuget Microsoft.IO.RecyclableMemoryStream < 3.0.0

# Add other packages here as needed (SignalR is provided by Microsoft.AspNetCore.App framework ref)
